//Mixins do SCSS
@mixin borda-arredondada ($raio:0.03em){
    -webkit-border-radius: $raio;
    border-radius: $raio;
  }
  
%sombra-padrao {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%image-replacement {
  text-indent: -0099px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@function multiplica-pela-fonte ($multiplicador) {
  @return round($multiplicador * $tamanho-fonte-padrao);
}